{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <h1>
            bonjour 
            {{ data.login }}
        </h1>
        <p>
            cliquez sur ce liens pour activer votre compte
                    
        </p>
        <a href="{{ url('api_users_VALIDATION_collection',{'token':token}) }}">
            Cliquez-Ici
        </a>
    </div>
{% endblock %}
